.template {
    display: none;
}

html *, path {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
    background:#1A4DA0 url(../img/textura.png) fixed repeat-x bottom;
    background-size: 101%;
    text-align: center;
}


.hidden{
    display:none;
}

.center{
    text-align: center;
}


#graficas-elecciones-2dav-content{
    margin: auto auto;
}



[class*='col-'] {
    float: left;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid{
    width:100%;
}

.col-1-2{
    width:50%;
}

.col-1-3{
    width:33.33%;
}

.col-1-4{
    width:25%;
}



.tv-content{
    margin:10px auto;
    width: 1620px;
    height: 770px;
    background: rgba(76,176,235,0.3)
    
}

.h{
    margin-top: 30px;
    color:#fff;
    font-size: 60px;
}

.foto-tv-fcn{
    content:url("../img/avatar-fcn-tv.png");
}
.foto-tv-une{
    content:url("../img/avatar-une-tv.png");
}

[data-hora] img{
    content:url("../img/exlamation-64.png");
}
/*  ------------------------------------------- BARRAS VERTICALES -------------------------------- */

.barras-v { 
    list-style:none; 
    margin:100px 0 0 0px;
    height:550px;
    position:relative;
}
.barras-v li { 
    margin-top:-40px; 
    position:absolute;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.barras-v li div.top { 
    background-color:rgba(255,255,255,0.4) !important; 
    position:relative;
    width:250px; 
    height:40px; 
    -moz-border-radius: 250px/40px; 
    -webkit-border-radius: 250px 40px; 
    border-radius: 250px/40px; 
}

.barras-v li div.top img { 
    margin-left:4px;
    margin-top:-180px; 
    display:inline; 
}

.barras-v li div.bottom {
    background-color:rgba(184,203,205,0.5); 
    margin-top:-40px; 
    position:relative;
    width:250px; 
    -moz-border-radius: 250px/40px; 
    -webkit-border-radius: 250px 40px; 
    border-radius: 250px/40px; 
}


div.bottom{
    height: 0px;
    -webkit-transition: height 2s ease;  
    -moz-transition: height 2s ease;  
    -o-transition: height 2s ease;  
    -ms-transition: height 2s ease;  
    transition: height 2s ease;   
}

div.top, div.bottom{
    margin:auto auto;
}

#fcn div.top { 
    z-index:95; 
}
#fcn div.bottom { 
    z-index:94; 
    background-color:#0F2878;
    background:-moz-linear-gradient(-90deg, #0F2878, #0A1B4B); 
    background:-webkit-gradient(linear, 0 top, 0 bottom, from(#0F2878), to(#0A1B4B));
}


#une div.top { 
    z-index:95; 
}
#une div.bottom { 
    z-index:94; 
    background-color:#268237;
    background:-moz-linear-gradient(-90deg, #268237, #1B5A26); 
    background:-webkit-gradient(linear, 0 top, 0 bottom, from(#268237), to(#1B5A26));
}

.detalle-barras{
    max-width: 250px;
    margin: 9px auto;
}

.detalle-barras .g{
    margin-bottom: 8px;
}

.texto-porcentaje{
    font-size: 40px;
    font-weight: bold;
    padding-top: 4px;
}

.porcentaje-mesas-fcn{
    color: #0F2878;
}
.porcentaje-mesas-une{
    color: #7AAA83;
}

.caja-logo{
    width: 95px;
    float:left;
}

#logo-une{
    width:100%;
    height: 60px;
    background:url(../img/une.png) no-repeat center;
    background-size: 60px 60px;
}

#logo-fcn{
    width:100%;
    height: 60px;
    background:url(../img/fcn.png) no-repeat center;
    background-size: 60px 60px;
}


.text-votos{
    border-top: 2px solid #dedfe2;
    border-bottom: 2px solid #dedfe2;
    font-weight: bold;
    line-height: 65px;
    display: inline-block;
    width: 250px;
    color: #F0F0FF;
    font-size: 30px;
}

/*  ------------------------------------------- FIN BARRAS VERTICALES -------------------------------- */


/*  ------------------------------------------- DETALLE DE VOTOS -------------------------------- */

#pie {
    margin-top: 120px;
}


.grid-detalle-votos{
    padding:0 15px 0 25px;    
}

.grid-detalle-votos ul{
    text-align: left;
}

.hora-actualizacion{
    font-size: 75px;
    color:#FD4341;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: "Carrois-Gothic";
}

.hora-actualizacion span:last-child{
    color: #dedfe2;
    font-size: 60px;
}

.hora-actualizacion li:last-child{
    color: #fff;
    font-size: 30px;
}

.hora-actualizacion img{
    margin-top: -7px;
}
.descripcion-votos{
    font-size: 40px;
    color: #C3E6FF;
    font-family: "Carrois-Gothic";
    line-height: 70px;
    margin-bottom: 34px;
}

.descripcion-votos strong{
    color: #fff;
    float:right;
}

.total-mesas{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.total-mesas li:last-child{
    color:#CBEAFD;
}

.barras-h { list-style:none;  }

.barras-h li div.top { 
    background:#25827F;
    position:relative; 
    float:left; 
    height:75px; 
    -moz-border-radius: 40px/100px; 
    -webkit-border-radius: 40px 100px; 
    border-radius: 40px/100px;
}

.barras-h li div.bottom { 
    position:relative; 
    margin:5px 0; 
    width:30px;
    height:75px; 
}

div.top{
    width: 20px;
    -webkit-transition: width 2s ease;  
    -moz-transition: width 2s ease;   
    -o-transition: width 2s ease;   
    -ms-transition: width 2s ease;    
    transition: width 2s ease;    
}

.porcentaje-cilindro{
    width: 20px;
    -webkit-transition: width 2s ease;  
    -moz-transition: width 2s ease;   
    -o-transition: width 2s ease;   
    -ms-transition: width 2s ease;    
    transition: width 2s ease;    
}

#mesas div.top { 
    z-index:95;
}
#mesas div.bottom { 
    z-index:94;
}

#mesas{
    background: #e3e3e3 url(../img/sombra-cilindro-h-tv.png) no-repeat right top;
    -moz-border-radius: 40px/100px; 
    -webkit-border-radius: 40px 100px; 
    border-radius: 40px/100px;
}

.porcentaje-cilindro{
    color:#ffffff;
    line-height: 75px;
    text-align: center;
    padding: 0px 5px;
    width: 100%;
    font-size: 25px;
}

#cilindro-v{
    background:#65A7CE url(../img/sombra-cilindro-h-tv.png) no-repeat right top;
    width:7%;
}



/*  ------------------------------------------- MAPA INTERACTIVO -------------------------------- */
#mapa_departamentos {
    fill: #aaa;
}

#mapa_departamentos path:hover {
    fill: #181818 !important;
}

#mapa_departamentos path{
    stroke: white;
    stroke-width: 1px;
}

#mapa_municipios {
    fill: #aaa;
    stroke: white;
}

#mapa_municipios path:hover{
    fill: #181818 !important;
}

#mapa-interactivo{
    margin-top:15px;
    position:relative;
}

#regresar-mapa, #regresar-mapa-municipio{
    color:#9DC2DE;
    cursor:pointer;
    font-size: 25px;
}

.activo{
    cursor:pointer;
}


.detalle-mapa-interactivo{
    margin-top: 72px;
    margin-bottom: 6px;
    height: 70px;
}


.detalle-mapa-interactivo li:first-child{
    font-size: 40px;
    font-weight: bold;
    color:#C3E6FF;
}

.detalle-mapa-interactivo li:last-child{
    font-size: 35px;
    color: #fff;
    font-family: "Carrois-Gothic";
    margin-bottom: 30px;
}


#pie svg text.percent{
    display:none;
}
/*  ------------------------------------------- FIN MAPA INTERACTIVO -------------------------------- */
